<div>
  <div>
    <h1>
      Contact #<%= @the_contact.id %> details
    </h1>

    <div>
      <div>
        <a href="/contacts">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_contact/<%= @the_contact.id %>">
          Delete contact
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_contact.user_id %>
      </dd>

      <dt>
        Employee
      </dt>
      <dd>
        <%= @the_contact.employee_id %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @the_contact.notes %>
      </dd>

      <dt>
        Relationship
      </dt>
      <dd>
        <%= @the_contact.relationship %>
      </dd>

      <dt>
        Outgoing comms
      </dt>
      <dd>
        <%= @the_contact.outgoing_comms %>
      </dd>

      <dt>
        Incoming comms
      </dt>
      <dd>
        <%= @the_contact.incoming_comms %>
      </dd>

      <dt>
        Last outgoing comm
      </dt>
      <dd>
        <%= @the_contact.last_outgoing_comm %>
      </dd>

      <dt>
        Last incoming comm
      </dt>
      <dd>
        <%= @the_contact.last_incoming_comm %>
      </dd>

      <dt>
        Followup date
      </dt>
      <dd>
        <%= @the_contact.followup_date %>
      </dd>

      <dt>
        Communications count
      </dt>
      <dd>
        <%= @the_contact.communications_count %>
      </dd>

      <dt>
        Advocates count
      </dt>
      <dd>
        <%= @the_contact.advocates_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_contact.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_contact.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit contact
    </h2>

    <form action="/modify_contact/<%= @the_contact.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_contact.user_id %>">
      </div>

      <div>
        <label for="employee_id_box">
          Employee
        </label>

        <input type="text" id="employee_id_box" name="query_employee_id" value="<%= @the_contact.employee_id %>">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <input type="text" id="notes_box" name="query_notes" value="<%= @the_contact.notes %>">
      </div>

      <div>
        <label for="relationship_box">
          Relationship
        </label>

        <input type="text" id="relationship_box" name="query_relationship" value="<%= @the_contact.relationship %>">
      </div>

      <div>
        <label for="outgoing_comms_box">
          Outgoing comms
        </label>

        <input type="text" id="outgoing_comms_box" name="query_outgoing_comms" value="<%= @the_contact.outgoing_comms %>">
      </div>

      <div>
        <label for="incoming_comms_box">
          Incoming comms
        </label>

        <input type="text" id="incoming_comms_box" name="query_incoming_comms" value="<%= @the_contact.incoming_comms %>">
      </div>

      <div>
        <label for="last_outgoing_comm_box">
          Last outgoing comm
        </label>

        <input type="date" id="last_outgoing_comm_box" name="query_last_outgoing_comm" value="<%= @the_contact.last_outgoing_comm %>">
      </div>

      <div>
        <label for="last_incoming_comm_box">
          Last incoming comm
        </label>

        <input type="text" id="last_incoming_comm_box" name="query_last_incoming_comm" value="<%= @the_contact.last_incoming_comm %>">
      </div>

      <div>
        <label for="followup_date_box">
          Followup date
        </label>

        <input type="date" id="followup_date_box" name="query_followup_date" value="<%= @the_contact.followup_date %>">
      </div>

      <div>
        <label for="communications_count_box">
          Communications count
        </label>

        <input type="text" id="communications_count_box" name="query_communications_count" value="<%= @the_contact.communications_count %>">
      </div>

      <div>
        <label for="advocates_count_box">
          Advocates count
        </label>

        <input type="text" id="advocates_count_box" name="query_advocates_count" value="<%= @the_contact.advocates_count %>">
      </div>

      <button>
        Update contact
      </button>
    </form>
  </div>
</div>

<hr>
